<!DOCTYPE html>
  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/styles/headerHome.css">

    
    
    </head>
    <body class="bg">


   
    
        
    <nav class="menuperfil">

        <div class="left">
            <div class="son"></div>
        </div>


        <div class="div-center">
            <img src="/styles/imagensnever/titlenevermain.png" alt="imgcentral" class="img-center">
        </div>
        
        
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="<%= NameUsuario.logo %>">
                    <% if(NameUsuario) { %>
                        <h2><%= NameUsuario.DsUsuario %></h2>
                    <%}%>
                </div>
                <hr>

                <a href="/Cadastro" class="sub-menu-link">
                    <img src="<%= NameUsuario.logo %>">
                    <p>Editar Perfil</p>
                    
                </a>

                <a href="#" class="sub-menu-link">
                    <img src="<%= NameUsuario.logo %>">
                    <p>Config.</p>
                    
                </a>

                <a href="#" class="sub-menu-link">
                    <img src="<%= NameUsuario.logo %>">
                    <p>Suporte</p>
                    
                </a>

                <a href="/logout" class="sub-menu-link">
                    <img src="<%= NameUsuario.logo %>">
                    <p>Logout</p>
                    
                </a>
            </div>
        </div>

        
        <img src="<%= NameUsuario.logo %>" class="user-pic" onclick="abrirMenuPerfil()">

        

        
        </nav>



    

    <script>





                function viewDetalhe(){
                    $('#cardDetalhes').addClass('open');
                }


               

                function abrirMenuPerfil(){
                    $('#subMenu').addClass('open-menu');
                    $('.fade').addClass('aberto')
                    
                };


                function fechaMenuPerfil(){
                    $('#subMenu').removeClass('open-menu');
                    $('.fade').removeClass('aberto')
                    
                };
               


                let url = window.location.pathname;
                let parts = url.split('/');
                let lastPart = parts.pop() || parts.pop();
                $('.titlenav').append(`<h2>` + lastPart + `<h2>`);
               
        
                

    </script>


       







</body>
</html>
